@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
}
:root{
    --orange: #fc6c0c;
    --brown: #642e04;
}
h1,h2,h3,h4,dt{
    font-family: 'Montserrat', sans-serif;
}
a,li,p,em,strong,dd,table{
    font-family: 'Hind', sans-serif;
}

header{
    text-align: center;
    margin: 2em;
}
header img{
    margin: 5px 0;
    width: 128px;
}
header h2{
    padding-top: 15px;
}
nav{
    text-align: right;
    background-color: blue;
    padding: 1em;
    margin-bottom: 2em;
}
nav a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
    padding: 0 20px;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.175);
    padding: .9em 20px;
    color: white;
}
.active{
    background-color: var(--orange);
    padding: .95em 20px;
    color: black;
}

main{
    margin: 0 2em;
}
main h1, main h2{
    margin: 15px 0;
    text-decoration: underline;
    text-underline-position: under;
}
main div p{
    padding: .5em 0;
    margin-left: 10px;
}
.info-right{
    border: 8px solid blue;
    margin: -1em 2em 1em;
    padding: 15px;
    float: right;
}
.info-cards{
    display: flex;
    width: 70%;
    margin: 1em auto 5em;
}
.info-cards div{
    width: 90%;
}
.card-right{
    margin-left: 10em;
}
li{
    padding: 5px 0;
}
main a, footer a{
    color: blue;
    text-underline-position: under;
}
main a:hover, main a:visited:hover, footer a:hover, footer a:visited:hover{
    color: var(--orange);
    transition: 0.5s;
}
main a:visited, footer a:visited{
    color: var(--brown);
}
table,tr,th,td{
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}
table{
    border-collapse: collapse;
}

footer{
    text-align: center;
    padding: 2em;
    border-top: 2px solid black;
    margin-top: 1em;
}
footer div{
    margin: 1em;
}
footer div a{
    margin: 1em;
}